---
import Card from "@components/Card.astro";
import CardImage from "@components/CardImage.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";

---

<Layout title="Frontend Mentor | Product preview card component">
  <main class="flex items-center justify-center">
    <div class="w-[50rem] md:mt-[50px] mt-0 rounded-[5px] p-[20px] lg:grid lg:grid-cols-2 lg:grid-rows-[auto] sm:grid sm:grid-cols-1 sm:grid-rows-[1fr_1fr]">
      <CardImage />
      <Card />
    </div>
  </main>
  <Footer author="Maxence Yrowah"/>
</Layout>
