---
import Card from "@components/Card.astro";
import CardImage from "@components/CardImage.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";

const ImageSrc = "/images/image-product-desktop.jpg";
const ImageaAlt = "Perfume image";
---

<Layout title="Frontend Mentor | Product preview card component">
  <main class="cardWrapper">
    <div class="card">
      <CardImage src={ImageSrc}/>
      <Card />
    </div>
  </main>
  <Footer author="Maxence Yrowah"/>
</Layout>

<style>
  .cardWrapper {
    margin: 5rem 25rem;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border-radius: 5px;
  }
</style>
