---
export type Props = {};

const {} = Astro.props;
const IconCart = "/images/icon-cart.svg";
---

<section class="bg-[#ffffff] p-[20px] rounded-[5px]">
  <h4 class="font-[Montserrat] mb-4 tracking-[13px] uppercase text-[#6c7289]">
    Perfume
  </h4>
  <p class="font-[Fraunces] leading-none text-[45px]">
    Gabrielle Essence Eau De Parfum
  </p>

  <p class="mt-[10px] text-[#6c7289] text-[17px]">
    A floral, solar and voluptuous interpretation composed by Olivier Polge,
    Perfumer-Creator for the House of CHANEL.
  </p>

  <p>
    <span class="text-[#3c8067] font-[Fraunces] text-[55px]">$149.99</span>
    <span class="text-[#6c7289] line-through text-xs">$169.99</span>
  </p>

  <button
    class="bg-[#3c8067] font-[Montserrat] p-4 w-full flex justify-center gap-5 rounded-[5px] text-white mt-[50px] mb-auto text-[20px] items-center hover:shadow-xl"
  >
    <span>
      <img src={IconCart} alt="icon-cart" />
    </span>
    Add to Cart
  </button>
</section>
